body
{
    background-color: #ffffff;
    color: gray;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header
{
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

main
{
    width:960px;
    margin: 0 auto;
}

footer
{
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    padding-top: 40px;
    padding-bottom: 5px;
}

button
{
    background-color: transparent;
    color:gray;
    border: transparent;
    float: right;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid grey;
}

.heading
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    float: left;
    padding: 20px;
}

h1
{
    background-color: #4aaaa5;
    color: white;
    float: left;
}

h2
{
    color: #4aaaa5;
    float: left;
    background-color: white;
}

p
{

}
.aboutMe
{
    font-size: 15px;
    line-height: 2;
    text-align: left;
}

#firstP
{
    float:left;
}

#secondP
{
    clear:both;
}

.clearfix::after 
{
    content: "";
    display: block;
    clear: both;
}

img
{
    height:300px;
    width:300px;
    margin: 20px;
    object-fit: contain; 
}

.img1, .img3, .img5
{
    clear: both;
    float: left;
}

.img2, .img4
{
    float: left;
}

.picOfMe
{
    clear: both;
    float:left;
}

figure
{
    position: relative;
}

figcaption
{
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    margin: 20px;
    bottom: 30px;
    width: 76.5%;
}

.left
{
 border-color: transparent;
}